html, body{
    text-align: center;
    background-image: url(background.png);
    background-size:cover;
}
.validationClass{
    width: 50%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

}
.logoClass{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 25px  25px;
}
.iconClass{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    padding: 10px 10px;
}
h1{
    font-size:28px;
    color:rgb(118, 73, 156);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-bottom: 5%;
}
h3{
    font-size:20px;
    color:rgb(118, 73, 156);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}
p{
    font-size:12px;
    color:rgb(60, 60, 60);
    font-family:Arial, Helvetica, sans-serif;
}
label{
    font-size:18px;
    color:rgb(60, 60, 60);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 100;
    margin: 2%;
}
input{
    font-size:large;
    text-align: center;
    color:rgb(118, 73, 156);
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 100;
    margin-block: 15px;
}
hr{
    border: 1px solid rgba(116, 3, 122, 0.155);
    width: 40%;
    margin-top: 5px;
}
button{
    background-color: rgb(130, 55, 205);
    color: rgb(255, 255, 255);
    border-radius:8px;
    border: 0px;
    padding:12px 28px;
    margin: 2%;
    padding: 20px 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
button:hover{
    background-color: rgb(160, 70, 225);
    color: rgb(255, 255, 255);
}
footer{
    width: 43%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
}