*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --firstcolor: #c20d19;
    --secondcolor: #282828;
    --thirdcolor: #404040;
    --paddingsection: 20px;
    --marginsection: 40px;
    --paddingselement: 10px;
    --marginelement: 25px;
    --sizeh1: 32px;
    --sizeh2: 20px;
    --sizeh3: 18px;
    --sizep: 14px;
}

body{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url(background-pattern.png);
    justify-content: center;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    padding: 0;
    margin: 0;
}

header div{
    background-color: var(--firstcolor);
    text-align: right;
    font-size: var(--sizep);
    height: auto;
    padding: var(--paddingselement);
}

header div a{
    text-decoration: none;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-right: var(--marginsection);
}

header img{
    width: 300px;
    margin: var(--marginsection);
}

.container{
    width: 90%;
    max-width: 600px;
    min-width: 430px;
    height: auto;
    margin: auto;
    padding: var(--paddingsection);
}

.container div{
    height: auto;
    padding: var(--paddingselement);
}

.container div p{
    font-size: var(--sizeh2);
    line-break: 1.5;
    color: var(--secondcolor);
    line-height: 1.5;
}

.container div p a{
    text-decoration: none;
    color: var(--secondcolor);
}

form{
    display:flex;
    flex-direction: column;
    font-size: var(--sizep);
    padding: var(--paddingselement);
    justify-content: center;
    align-items: center;
}

#credictCardNumber{
    width: 350px;
    height: auto;
    line-height: 1.5;
    letter-spacing: 1px;
    border: 2px solid var(--firstcolor);
    border-radius: 25px;
    font-size: var(--sizep);
    color: var(--thirdcolor);
    text-align: center; 
    padding: var(--paddingselement);
    margin-bottom: var(--marginelement);
}

#credictCardResult{
    width: 350px;
    height: 44.2px;
    line-height: 1.5;
    letter-spacing: 1px;
    border: 2px solid var(--secondcolor);
    border-radius: 25px;
    color: var(--firstcolor);
    background-color: white;
    padding: var(--paddingselement);
    margin-bottom: var(--marginelement);
}

#validationButton{
    width: 150px;
    height: auto;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: var(--secondcolor);
    padding: var(--paddingselement);
    margin-bottom: var(--marginelement);
}

#validationButton:hover{
    transform:scale(95%);
}

.resetButton{
    width: 75px;
    height: auto;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: var(--firstcolor);
    padding: var(--paddingselement);
    margin-bottom: var(--marginelement);
}

.resetButton:hover{
    transform:scale(95%);
}

footer{
    background-color: var(--secondcolor);
    color: white;
    height: auto;
}

footer div{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: var(--sizep);
    margin: auto;
    width: 40%;
    max-width: 600px;
    min-width: 430px;
}

footer p{
    color: white;
    font-size: var(--sizep);
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-bottom: var(--marginelement);
}

footer a{
    text-decoration: none;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-bottom: var(--marginelement);
    margin-right: var(--marginelement);
    margin-left: var(--marginelement);
}